*, ::after, ::before {
    box-sizing: border-box;
}

.toplevel_page_gridmaster #wpwrap {
    height: 100%;
}

.toplevel_page_gridmaster #wpcontent {
    padding: 0;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.toplevel_page_gridmaster #wpcontent #wpbody {
    height: calc(100vh - 72px);
    overflow: hidden;
}

.toplevel_page_gridmaster #wpcontent #wpbody-content {
    padding-bottom: 0;
    height: 100%;
}

.gridmaster-wrap {
    height: 100%;
}

.toplevel_page_gridmaster .notice, 
.toplevel_page_gridmaster div.error, 
.toplevel_page_gridmaster div.updated {
    display: none;
}

.gridmaster-wrap  .postbox-header,
.gridmaster-wrap  .postbox-header * {
    cursor: pointer !important;
}

.gm-slide-toggle .inside {
    display: block;
}

.gm-field-label:not(.radio) {
    text-align: left;
    font-weight: 600;
    margin-bottom: 7px;
    display: inline-block;
    width: 40%;
    min-width: 120px;
}

.radio.gm-field-label {
    margin-right: 10px;
    padding-right: 10px;
}

.gm-left-sidebar, .gm-right-sidebar{
    height: calc(100vh - 175px);
    overflow: auto;
}

span.description {
    display: block;
    font-size: 12px;
    font-style: italic;
}

#gm-grid-preview {
    height: 768px;
    overflow: hidden;
}

.gm-iframe-wrap {
    position: relative;
    height: 100%;
    overflow: auto;
    border: 0;
}
  
.gm-iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.toplevel_page_gridmaster #wpfooter {
    display: none;
}