*, ::after, ::before {
    box-sizing: border-box;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.float-end {
    float: right !important;
}

.d-flex {
    display: flex;
}

.toplevel_page_gridmaster #wpwrap {
    height: 100%;
}

.toplevel_page_gridmaster #wpcontent {
    padding: 0;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.toplevel_page_gridmaster #wpcontent #wpbody {
    height: calc(100vh - 72px);
    overflow: hidden;
}

.toplevel_page_gridmaster #wpcontent #wpbody-content {
    padding-bottom: 0;
    height: 100%;
}

.gridmaster-wrap {
    height: 100%;
}

.toplevel_page_gridmaster .notice, 
.toplevel_page_gridmaster div.error, 
.toplevel_page_gridmaster div.updated {
    display: none;
}

.toplevel_page_gridmaster .lmfwppt-license-validation .notice, 
.toplevel_page_gridmaster .lmfwppt-license-validation div.error, 
.toplevel_page_gridmaster .lmfwppt-license-validation div.updated {
    display: inherit;
}

.gridmaster-wrap  .postbox-header,
.gridmaster-wrap  .postbox-header * {
    cursor: pointer !important;
}

.gm-slide-toggle .inside {
    display: block;
}

.gm-field-label:not(.radio) {
    text-align: left;
    font-weight: 600;
    margin-bottom: 7px;
    display: inline-block;
    width: 40%;
    min-width: 120px;
}

.radio.gm-field-label {
    margin-right: 10px;
    padding-right: 10px;
}

.gm-left-sidebar, .gm-right-sidebar{
    height: calc(100vh - 175px);
    overflow: auto;
}

span.description {
    display: block;
    font-size: 12px;
    font-style: italic;
}

#gm-grid-preview {
    height: 768px;
    overflow: hidden;
}

.gm-iframe-wrap {
    position: relative;
    height: 100%;
    overflow: auto;
    border: 0;
}
  
.gm-iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    transform-origin: top left;
    transition: .3s ease-in-out;
}

.toplevel_page_gridmaster #wpfooter {
    display: none;
}

/* Responsive Devices */
span.gridmaster-responsive-fields {
    display: inline-flex;
    align-items: center;
}

span.gridmaster-responsive-fields-devices {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-width: 0px;
}

span.gridmaster-responsive-fields-devices-wrap {
    position: relative;
}

.gridmaster-responsive-fields-devices-wrap.open .gridmaster-responsive-fields-devices {
    z-index: 1;
}

.gridmaster-responsive-fields-selected-devices,
.gridmaster-responsive-fields-device {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.gridmaster-responsive-fields-devices-wrap.open .gridmaster-responsive-fields-selected-devices {
    border-color: #ddd;
}

.gridmaster-responsive-fields-selected-devices:hover,
.gridmaster-responsive-fields-device.selected,
.gridmaster-responsive-fields-device:hover {
    background-color: #ddd;
}

.gridmaster-responsive-fields-device {
    position:relative;
}

.gm-tooltip {
    position: relative;
}

.gm-tooltip:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  content: attr(title);
  font-size: 11px;
  padding: 4px 10px;
  position: absolute;
  white-space: nowrap;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.preview-action-buttons {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.preview-action-buttons .gridmaster-responsive-fields-devices {
    display: flex;
}
/* End Responsive Devices */

.show-if-image-size-custom {
    display: none;
}

#grid_image_size {
    text-transform: capitalize;
}

/* Preloader */
.asr-loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 9;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: none;
}

.loading .asr-loader {
    display: block;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #333;
    border-color: #333 transparent #333 transparent;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    animation: lds-dual-ring 1.2s linear infinite;
}
@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
   }
}
/* End Preloader */

.gm-checkbox-wrapper {
    white-space: nowrap;
}

.gm-checkbox-wrapper input:checked + label {
    font-weight: bold;
}