.am_ajax_post_grid_wrap {
  box-sizing: border-box;
}

.asr-filter-div .asr_texonomy {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  padding: 5px 10px;
  margin: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.asr-filter-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.asr_texonomy.active,
.asr_texonomy:hover {
  background: rgba(0, 0, 0, 0.1);
}

.asr-ajax-container {
  position: relative;
}

.asr-ajax-container .asr-loader {
  display: none;
}

/*****************
 * New Design
 *****************/
.asr-filter-div {
  margin-bottom: 30px;
}

.am_grid_col {
  padding: 0 15px;
}

.am_post_grid {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*Loading*/
.asr-loader {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 9;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid #333;
  border-color: #333 transparent #333 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Layout 1 */
.am_single_grid {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
  display: block;
}

.am_thumb {
  height: 200px;
  overflow: hidden;
}

.am_thumb img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  border-radius: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.am_cont {
  padding: 20px;
}

.am_single_grid:hover .am_thumb img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.am__col-3 .am_grid_col {
  margin-bottom: 30px;
}

.am__col-3 .am_grid_col {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
/* End Layout 1 */

/* Layout 1 Responsive */
@media only screen and (max-width: 767px) {
  .am__col-3 .am_grid_col {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/* End Layout 1 Responsive */

/* Paginaion */
#am_posts_navigation_init {
    margin: 30px 0;
    text-align: center;
}
#am_posts_navigation_init .page-numbers {
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 1.2;
    border: 1px solid #c6c6c6;
    padding: 4px;
    text-decoration: none;
}
#am_posts_navigation_init .page-numbers.current,
#am_posts_navigation_init .page-numbers:hover {
    background: #f0f0f0;
}

.am_posts_navigation{
    text-align: center;
    margin-bottom: 30px;
}
/* End Paginaion */

/* Loding Animation */
.am-post-grid-load-more {
    position: relative;
}

.am-post-grid-load-more.loading:after {
    content:"";
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s ease-in-out infinite;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Eng Loding Animation */

.am_has_animation .am_grid_col{
    display: none;
}