

.am_thumb{
    height: 300px;
    border-radius: 20px 20px 0px 0px;
   
}
.am__col-3 .am_grid_col {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    
}
.am_single_grid{
    border-radius: 20px 20px 20px 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}
.am_single_grid:hover {
    box-shadow: 8px 8px 2px #CCCCCC;
    border-radius: 20px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.am_single_grid:hover .am_thumb img {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s
}
.am_thumb img {
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    transition: transform 0.7s ease-in-out;
    transition: .7s
}